/* font  Merriweather  */
/* font  Inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700;900&display=swap");

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather', serif; */
/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  color: rgba(7, 2, 17, 0.6);
  padding: 1.5rem 0;
}
input {
  border: none;
  outline: none;
}
/* General */
.red {
  color: #f00;
}
.black {
  color: #070211;
}
.merriFont {
  font-family: "Merriweather", serif;
}
.interFont {
  font-family: "Inter", sans-serif;
}
/* Banner Section  */
.container {
  max-width: 80rem;
  margin: 3.15rem auto 0 auto;
}
.banner_content {
  border-radius: 1rem;
  /* background-color: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-image: url("../resources/Bannerbg.png"); */
  color: #fff;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Bannerbg.png");
  background-repeat: no-repeat;
}
.banner_content h3 {
  padding-top: 11rem;
  font-weight: 400;
  font-size: 2rem;
}
.banner_content h1 {
  font-weight: 900;
  padding-bottom: 11rem;
  font-size: 4.5rem;
}
.banner_content h1,
h3 {
  text-align: center;
}

/* <!-- Discount Section --> */

.discount_container {
  max-width: 90rem;
  /* margin: auto; */
  margin-top: 7.5rem;
  text-align: center;
}
.discount_content > h1 {
  font-size: 5.5rem;
}
.discount_content p {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.text_category h2 {
  font-size: 3rem;
  font-weight: 700;
}
.discount_image {
  max-width: 50rem;
  margin: 2rem auto;
}
.discount_image img {
  width: 90%;
  margin-bottom: 7.5rem;
}
/* <!-- Welcome Section --> */

.welcome_container {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}
.welcome_content {
  padding-left: 6rem;
  padding-top: 6rem;
}
.welcome_content h1 {
  /* line-height: 2.5rem; */
  font-weight: 900;
  font-size: 4rem;
}
.welcome_content p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.55rem;
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.8);
}
.welcome_image {
  max-width: 20rem;
  padding: 4.2rem 0 8.6rem;
}
.welcome_image img {
  width: 90%;
  padding-left: 2.25rem;
}
.btn_join {
  text-align: center;
  background-color: rgb(46, 18, 27);
  /* border: 2px solid pink; */
  padding: 1.125rem 1.5rem;
  border: none;
  border-radius: 0.8rem;
  margin-bottom: 8.85rem;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease-in-out;
}
.btn_join:hover {
  border: 2px solid white;
  background-color: transparent;
}

.btn_join a {
  font-size: 1.125rem;
  color: #fff;
}
/* <!-- Info Section  --> */
.info_container {
  text-align: center;
  margin-top: 7.5rem;
  max-width: 80rem;
  background-image: linear-gradient(
    180deg,
    rgb(245, 200, 200),
    hsla(0, 100%, 50%, 0)
  );
  border-radius: 0.5rem;
}
.btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #f00;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0;
  margin-bottom: 6.9rem;
}
.btn a {
  color: #fff;
}
.info_text {
  line-height: 3.5rem;
  font-size: 2rem;
  padding-top: 6.25rem;
}
/* <!-- Offer Section --> */
.offer_section {
  margin-top: 7.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.offer_content {
  max-width: 24.5rem;
}
.offer_text {
  max-width: 17.25rem;
}
.offer_content h4 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}
.offer_content h1 {
  font-size: 3rem;
}
.circle {
  /* background: url("../resources/circle2.png"); */
  max-width: 22.8rem;
  /* max-width: 28rem; */
  background-size: cover;
  background-repeat: no-repeat;
}
.circle img {
  width: 90%;
}
.offer_image {
  position: relative;
}
.circles {
  max-width: 24rem;
  position: absolute;
  top: -30px;
  left: -30px;
}
.circles img {
  width: 100%;
}

/* <!-- Sale Section --> */
.sale_container {
  margin-top: 7.5rem;
}
.sale_text {
  text-align: center;
}
.sale_text h5 {
  font-size: 1.5rem;
  padding-bottom: 1.75rem;
}
.sale_text h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
.sale_image {
  position: relative;
  width: 80rem;
  height: 41.875rem;
}
.sale_image2 {
}
#fireFire {

}
.fBg{
  width: 48%;
}
.sale_image #fireFire > img {
  position: relative;
  bottom: -15rem;
}

.discount_image2 > img {
  max-width: 100%;
}
.discount_image2 {
  max-width:33rem;
  position: absolute;
  right: 0;
  bottom: 9.5rem;
}
.discount_image2 img {
  width: 100%;
  /* position: relative; */
  right: 0;
}
.bgImage {
  width: 80rem;
  height: 14.3125rem;
  border-radius: 1rem 0rem 1rem 1rem;
  background: #f00;
}
/* .sale_image{
 
}
.discount_image{
  max-width: 26.8rem;
}

.firecraker_image{
  max-width: 49.75rem;
}
.firecraker_image img{
  width: 40%;
} */

/* <!-- Portfolio Section --> */

.portfolio_container {
  margin-top: 7.5rem;
}
.portfolio_image {
  display: flex;
  flex-wrap: wrap;
  max-width: 80rem;
  /* justify-content: center; */
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5s ease-in;
  /* transform: scale(1); */
}
.portfolio_image img {
  width: 95%;
}
.portfolio_image img:hover {
  transform: scale(1.05);
}
.portfolio_text h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.portfolio_text h1 {
  font-size: 3rem;
  font-weight: 900;
}
/* 
     <!-- Newsletter Section -->

*/
.newsletter_container {
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 1rem;
  margin-top: 7.5rem;
  text-align: center;
}
.email {
  padding-top: 5rem;
  max-width: 9.375rem;
  text-align: center;
  margin: auto;
  padding-bottom: 2.5rem;
}
.newsletter_info h1 {
  font-size: 3rem;
}
.newsletter_info {
  margin-bottom: 3rem;
}
.form_container {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}
.form_container form input {
  width: 41rem;
  height: 4.5rem;
  border-radius: 3.15rem 0 0 3.315rem;
  padding: 1.55rem;
}
.form_btn {
  width: 13.125rem;
  height: 4.5rem;
  background-color: #f00;
  border: 0;
  border-radius: 0 3.13rem 3.13rem 0;
  cursor: pointer;
}
.form_btn a {
  color: white;
  font-size: 1.25rem;
}
/* footer_section */
#footer_section {
  margin-top: 7.5rem;
  background-color: #070211;
  color: hsl(0, 0%, 100%);
}
.footer_container {
  padding-top: 7.5rem;
}
.footer_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.15rem;
  align-items: center;
}
.footer_info_right {
  padding: 1.5rem;
  /* border: 2px solid wheat; */
}
.footer_info_right span {
  font-size: 1.5rem;
  /* padding: 1rem; */
}
.footer_info_right img {
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  padding-top: 1.5rem;
}
.footer_info_left h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.footer_social {
  margin: 3rem 1.5rem;
  padding: 0 2rem;
  text-align: center;
}
.footer_social img {
  margin: 3rem 1.5rem;
}
.footer_text {
  display: flex;
  margin-top: 3.15rem;
  justify-content: space-between;
}
.footer_text p {
  color: #fff;
  font-size: 1.5rem;
}
